@page
@using WebEssentials.AspNetCore.Pwa
@inject WebManifest wm
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>PWA Sample</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/site.css" rel="stylesheet" />
</head>
<body>
    <h1>PWA Sample</h1>
    <dl>
        <dt>Name</dt>
        <dd>@wm.Name</dd>
        <dt>Short name</dt>
        <dd>@wm.ShortName</dd>
    </dl>


    <script src="~/site.js"></script>
</body>
</html>