@page
@using WebEssentials.AspNetCore.ServiceWorker
@inject WebManifest wm
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sample</title>
    <link href="~/site.css" rel="stylesheet" />
</head>
<body>
    <h1>Sample</h1>
    <dl>
        <dt>Name</dt>
        <dd>@wm.Name</dd>
        <dt>Short name</dt>
        <dd>@wm.Short_Name</dd>
    </dl>


    <script src="~/site.js"></script>
</body>
</html>