@page
@using WebEssentials.AspNetCore.Pwa
@inject WebManifest wm
@{
    if (!Request.IsHttps && Request.Host.Host != "localhost")
    {
        Response.Redirect("https://" + Request.Host);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>PWA Sample</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/site.css" rel="stylesheet" />
</head>
<body>
    <h1>PWA Sample</h1>
    <dl>
        <dt>Name</dt>
        <dd>@wm.Name</dd>
        <dt>Short name</dt>
        <dd>@wm.ShortName</dd>
    </dl>
    <img src="~/icon.png?v=hash" />

    <button onclick="showimage()">Show image</button>

    <script>
        function showimage() {
            document.body.innerHTML += '<img src="/icon2.png?rnd=' + Math.random() + '" />' +
                                       '<img src="/icon2.png?v=hash&rnd=' + Math.random() + '" />' +
                                       '<img src="https://madskristensen.net/img/icon16x16.png" />' +
                                       '<img src="https://madskristensen.net/img/icon32x32.png?v=hash" />';
        }
    </script>

    <script src="~/site.js"></script>
</body>
</html>